{% extends '_layout.html' %}

{% block body %}


<h1>Browse page</h1>

<div class="container">
    <div class="row g-3">
        <div class="col">
            <div class="mt-5">
                <label for="age" class="form-label">Age</label>
                <select class="form-select" id="age">
                    <option selected>Select Age</option>
                    <option value="1">Two</option>
                    <option value="2">Four</option>
                    <option value="3">Siz</option>
                </select>
            </div>
        </div>

        <div class="col">
            <div class="mt-5">
                <label for="species" class="form-label">Species</label>
                <select class="form-select" id="species">
                    <option selected>Select Species</option>
                    <option value="1">Cat</option>
                    <option value="2">Dog</option>
                    <option value="3">Rabbit</option>
                </select>
            </div>
        </div>

        <div class="col">
            <div class="mt-5">
                <label for="breed" class="form-label">Breed</label>
                <select class="form-select" id="breed">
                    <option selected>Select Breed</option>
                    <option value="1">Terrier</option>
                    <option value="2">Bull Dog</option>
                    <option value="3">Taby</option>
                </select>
            </div>
        </div>
    </div>
</div>
<br><br><br>

<div class="container">
    <div class="card-deck">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="#" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Leo</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="src/images/6.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rosie</h5>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <img class="card-img-top" src="#" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Alexis</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}