{% extends '_layout.html' %} {% block body %}
<div class="container">
	<br />
	<h1>External Sources</h1>
	<div class="row">
		<div class="col">
            <hr>
            <h4>Dog</h4>
            <a href="https://www.hillspet.com/dog-care/routine-care?cq_src=google_ads&cq_cmp=11419507370&cq_con=108583279821&cq_term=how%20to%20take%20care%20of%20a%20dog&cq_med=&cq_plac=&cq_net=g&cq_plt=gp&gclid=CjwKCAjwsJ6TBhAIEiwAfl4TWMCtl9zGOnbqt8DJhb5T1l8fpUsZ9V1reaZ84er5LAfiThxpUJBPEBoCgYcQAvD_BwE&gclsrc=aw.ds">
            Taking care of your dog is very important! Please take a look at this website for any help.</a>
            <hr>
            <h4>Cat</h4>
            <a href="https://www.hillspet.com/cat-care/routine-care?cq_src=google_ads&cq_cmp=11419507178&cq_con=112112921415&cq_term=caring%20for%20a%20cat&cq_med=&cq_plac=&cq_net=g&cq_plt=gp&gclid=CjwKCAjwsJ6TBhAIEiwAfl4TWC2Naa_jwzTlNgrGPtoRgHFVQwxWaG5EiXYlELU9B8TKcJf78JKN2BoCqPIQAvD_BwE&gclsrc=aw.ds">
            Taking care of your cat is very important! Please take a look at this website for any help.</a>
            <hr>
            <h4>Emergency Services</h4>
            <p>If you ever need emergency services, please contact your local emergency hospital.</p>
		</div>
	</div>
</div>
{% endblock %}